<div>
    <h2 translate="gCompanyApp.city.home.title">Cities</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="city.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="gCompanyApp.city.home.createLabel">
                        Create new City
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="gCompanyApp.city.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageUri"><span translate="gCompanyApp.city.imageUri">Image Uri</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state.name"><span translate="gCompanyApp.city.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="city in vm.cities track by city.id">
                    <td><a ui-sref="city-detail({id:city.id})">{{city.id}}</a></td>
                    <td>{{city.name}}</td>
                    <td>{{city.imageUri}}</td>
                    <td>
                        <a ui-sref="state-detail({id:city.state.id})">{{city.state.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="city-detail({id:city.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="city.edit({id:city.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="city.delete({id:city.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
