<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
      Webpack generated Cordova App
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html"/>
    <access origin="*" />
    <access origin="https://maps.wikimedia.org" />
    <preference name="xwalkVersion" value="20+" />
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect" />
    <preference name="xwalkMode" value="embedded" />
    <preference name="xwalkMultipleApk" value="true" />
    <preference name="android-minSdkVersion" value="16" />
</widget>
