<md-content  layout="column" >
  <img class="responsive" ng-src="img/place.jpg"></img>
  <md-button class="md-raised md-primary">Make a picture</md-button>

  <div flex></div>
  <!-- <div layout="column" layout-padding>
    <md-checkbox class="md-warn md-align-top-left" ng-model="todo.category" aria-label="Contact Information">Category</md-checkbox>
    <md-checkbox class="md-warn md-align-top-left" ng-model="todo.contact" aria-label="Contact Information">Contact Information</md-checkbox>
    <md-checkbox class="md-warn md-align-top-left" ng-model="todo.location" aria-label="Location Information">Location Information</md-checkbox>
    <md-checkbox class="md-warn md-align-top-left" ng-model="todo.marketing" aria-label="Marketing Information">Marketing Information</md-checkbox>
    <md-checkbox class="md-warn md-align-top-left" ng-model="todo.hours" aria-label="Oppening Hours">Oppening Hours</md-checkbox>
  </div> -->
  <md-list>
    <md-list-item ui-sref="location-detail.category" ng-click="null">
      <p>Category             </p>
      <md-checkbox class="md-warn md-align-top-left" ng-model="todo.category" aria-label="Contact Information"></md-checkbox>
    </md-list-item>
    <md-list-item ui-sref="location-detail.information.contact" ng-click="null">
      <p>Contact Information  </p>
      <md-checkbox class="md-warn md-align-top-left" ng-model="todo.contact" aria-label="Contact Information"></md-checkbox>
    </md-list-item>
    <md-list-item ui-sref="location-detail.information.location" ng-click="null">
      <p>Location Information </p>
      <md-checkbox class="md-warn md-align-top-left" ng-model="todo.location" aria-label="Location Information"></md-checkbox>
    </md-list-item>
    <md-list-item ui-sref="location-detail.information.marketing" ng-click="null">
      <p>Marketing Information</p>
      <md-checkbox class="md-warn md-align-top-left" ng-model="todo.marketing" aria-label="Marketing Information"></md-checkbox>
    </md-list-item>
    <md-list-item ui-sref="location-detail.information.hours" ng-click="null">
      <p>Oppening Hours       </p>
      <md-checkbox class="md-warn md-align-top-left" ng-model="todo.hours" aria-label="Oppening Hours"></md-checkbox>
    </md-list-item>
  </md-list>


  <div flex></div>

<md-content>
