

  <md-card md-theme="default" md-theme-watch ng-repeat="location in vm.locations track by location.id">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{location.name}}</span>
        <span class="md-subhead">{{location.status}}</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon ng-style="{'font-size':'48px'}">{{statusToIconMap[location.status]}}</md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">

      <md-button ui-sref="location-detail({id:location.id})">View</md-button>
      <md-button>Status</md-button>
    </md-card-actions>
  </md-card>

  <md-card md-theme="default" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Card with image</span>
        <span class="md-subhead">Published</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon ng-style="{'font-size':'48px'}">done</md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Activate</md-button>
      <md-button>View</md-button>
      <md-button>Status</md-button>
    </md-card-actions>
  </md-card>

  <md-card md-theme="default" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Card with image</span>
        <span class="md-subhead">Information</span>
      </md-card-title-text>
      <md-card-title-media>
        <div class="md-media-sm card-media">
          <md-icon ng-style="{'font-size':'48px'}">info_outline</md-icon>
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>View</md-button>
      <md-button>Status</md-button>
    </md-card-actions>
  </md-card>
 
<md-card ng-repeat="state in $state.get()">
  <md-card-title>{{state.name}}</md-card-title>
  <md-card-content>
  <ul><li ng-repeat="(key,value) in state">{{key}}:{{value}}</li></ul>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button ui-sref="{{state.name}}" >Navigate</md-button>
  </md-card-actions>
</md-card>
