<md-content  layout="column" >
  <img class="responsive" ng-src="img/place.jpg"></img>
  <md-button class="md-raised md-primary">Make a picture</md-button>

  <div flex></div>
  <!-- <div layout="column" layout-padding>
    <md-checkbox class="md-warn md-align-top-left" ng-model="todo.category" aria-label="Contact Information">Category</md-checkbox>
    <md-checkbox class="md-warn md-align-top-left" ng-model="todo.contact" aria-label="Contact Information">Contact Information</md-checkbox>
    <md-checkbox class="md-warn md-align-top-left" ng-model="todo.location" aria-label="Location Information">Location Information</md-checkbox>
    <md-checkbox class="md-warn md-align-top-left" ng-model="todo.marketing" aria-label="Marketing Information">Marketing Information</md-checkbox>
    <md-checkbox class="md-warn md-align-top-left" ng-model="todo.hours" aria-label="Oppening Hours">Oppening Hours</md-checkbox>
  </div> -->
  <md-list>
                   <md-list-item ng-click=""><p>Category             </p><md-checkbox class="md-warn md-align-top-left" ng-model="todo.category" aria-label="Contact Information"></md-checkbox>
    </md-list-item><md-list-item ng-click=""><p>Contact Information  </p><md-checkbox class="md-warn md-align-top-left" ng-model="todo.contact" aria-label="Contact Information"></md-checkbox>
    </md-list-item><md-list-item ng-click=""><p>Location Information </p><md-checkbox class="md-warn md-align-top-left" ng-model="todo.location" aria-label="Location Information"></md-checkbox>
    </md-list-item><md-list-item ng-click=""><p>Marketing Information</p><md-checkbox class="md-warn md-align-top-left" ng-model="todo.marketing" aria-label="Marketing Information"></md-checkbox>
    </md-list-item><md-list-item ng-click=""><p>Oppening Hours       </p><md-checkbox class="md-warn md-align-top-left" ng-model="todo.hours" aria-label="Oppening Hours"></md-checkbox>
    </md-list-item>
  </md-list>


  <div flex></div>

<md-content>
