<div>
  <md-toolbar md-scroll-shrink class="md-tall">
    <img ng-src="" class="md-avatar"></img>
  </md-toolbar>
  <md-content >
    <md-list>
      <md-list-item  ng-click="main.toggleLeft()">
        <md-icon>store</md-icon>
        <p>Business Setup</p>
      </md-list-item>
      <md-list-item  ng-click="main.toggleLeft()">
        <md-icon>question_answer</md-icon>
        <p>Conversations</p>
      </md-list-item>
      <md-list-item  ng-click="main.toggleLeft()">
        <md-icon>date_range</md-icon>
        <p>Calendar</p>
      </md-list-item>
      <md-list-item  ng-click="main.toggleLeft()">
        <md-icon>card_giftcard</md-icon>
        <p>Promotions</p>
      </md-list-item>
      <md-list-item  ng-click="main.toggleLeft()">
        <md-icon>trending_up</md-icon>
        <p>Statistics</p>
      </md-list-item>
      <md-list-item  ng-click="main.toggleLeft()">
        <md-icon>build</md-icon>
        <p>Configuration</p>
      </md-list-item>

        <md-list-item  ng-click="main.toggleLeft()">
          <md-icon>exit_to_app</md-icon>
          <p>Logout</p>
        </md-list-item>
    </md-list>

  </md-content>
</div>
