       <section layout="row"  layout-fill>
          <md-sidenav class="md-sidenav-left" md-component-id="left"
                  md-whiteframe="4">
            <section  ng-cloak>
              <md-toolbar ng-init="i=0;icons=['face','cake','videocam','web'];selection=icons[i]" md-scroll-shrink class="md-tall">

                <div flex></div>
                <div
                md-swipe-left="i=(icons.length+i-1)%icons.length; selection=icons[i]"
                md-swipe-right="i=(i+1)%icons.length; selection=icons[i]"
                class="menu-heading-left"
                layout="row"
                layout-align="space-between center">
                  <md-button class="md-icon-button" ng-click="i=(icons.length+i-1)%icons.length; selection=icons[i]">
                    <md-icon >keyboard_arrow_left</md-icon>
                  </md-button>
                  <div flex></div>
                  <div   style="width:100px;height:100px" layout layout-aligh="center center">
                    <!-- <md-icon   ng-style="{'font-size':'50px'}" ng-repeat="icon in icons" ng-animate="animate" ng-if="selection == icon" >{{icon}}</md-icon> -->
                    <md-icon md-svg-src="svg/sport.svg" aria-label="sportiventure"></md-icon>
                  </div>
                  <div flex></div>
                  <md-button class="md-icon-button" ng-click="i=(i+1)%icons.length; selection=icons[i]">
                    <md-icon>keyboard_arrow_right</md-icon>
                  </md-button>
                </div>
                <div flex></div>
              </md-toolbar>
              <md-content >
                <md-subheader>SportiVenture.com<br>{{main.$state.current.data.fab.state}}</md-subheader>
                <md-list>
                  <md-list-item  ng-click="main.toggleLeft()" ui-sref="location">
                    <md-icon>location_on</md-icon>
                    <p>Location</p>
                  </md-list-item>
                  <md-list-item  ng-click="main.toggleLeft()" ui-sref="business-setup.information({id:1})">
                    <md-icon>store</md-icon>
                    <p>Business Setup</p>
                  </md-list-item>
                  <md-list-item  ng-click="main.toggleLeft()" ui-sref="conversations">
                    <md-icon>question_answer</md-icon>
                    <p>Conversations</p>
                  </md-list-item>
                  <md-list-item  ng-click="main.toggleLeft()" ui-sref="calendar">
                    <md-icon>date_range</md-icon>
                    <p>Calendar</p>
                  </md-list-item>
                  <md-list-item  ng-click="main.toggleLeft()" ui-sref="gift_card">
                    <md-icon>card_giftcard</md-icon>
                    <p>Promotions</p>
                  </md-list-item>
                  <md-list-item  ng-click="main.toggleLeft()" ui-sref="statistics">
                    <md-icon>trending_up</md-icon>
                    <p>Statistics</p>
                  </md-list-item>
                  <md-list-item  ng-click="main.toggleLeft()" ui-sref="configuration">
                    <md-icon>build</md-icon>
                    <p>Configuration</p>
                  </md-list-item>
                  <md-list-item  ng-click="main.toggleLeft()" ui-sref="status">
                    <md-icon>settings</md-icon>
                    <p>Status</p>
                  </md-list-item>

                    <md-list-item  ng-click="main.toggleLeft()" >
                      <md-icon>exit_to_app</md-icon>
                      <p>Logout</p>
                    </md-list-item>
                </md-list>

              </md-content>
            </section>
          </md-sidenav>

          <section layout="column"  flex layout-fill  >

            <md-toolbar class="md-hue-2" flex="none">
             <div class="md-toolbar-tools">
               <md-button class="md-icon-button" aria-label="Settings" ng-click="main.toggleLeft()">
                 <!-- <md-icon ng-click="main.toggleLeft()" >menu</md-icon> -->
                 <ng-md-icon  icon="{{main.$state.current.data.menu.icon?main.$state.current.data.menu.icon:'menu'}}" ></ng-md-icon>
               </md-button>
               <h2>
                 <span class="header_title" translate="{{main.$state.current.data.pageTitle}}">SportiVenture </span>
                 <span>
                    <!-- $state: {{$state.current.name}}
                    $stateParams: {{$stateParams}}
                    $state full url: {{ $state.$current.url.source }} -->
                    {{main.$state.current.data.menu.state}}
                  </span>
               </h2>
               <span flex></span>
               <md-button ng-click="main.notifications.open('help')" class="md-icon-button" aria-label="Favorite">
                 <md-icon  ng-class="{'animated':main.notifications.help, 'infinite':true, 'rubberBand':true}" md-font-set="material-icons">lightbulb_outline</md-icon>
               </md-button>
               <md-button class="md-icon-button" aria-label="More">
                 <md-icon >more_vert</md-icon>
               </md-button>
             </div>
           </md-toolbar>
            <md-content ng-animate="{enter: 'animated bounceInRight', leave: 'animated bounceOutLeft'}" flex layout-fill data-ui-view="content" layout="column" >

            </md-content>
            <div  ng-init="left = true" ng-class="{'left':left, 'right':!left}" class="description" ng-show="main.$state.current.data.pageDescription" md-swipe-left="left=true;main.$state.go(main.$state.current.data.nextState)" md-swipe-right="left=false;main.$state.go(main.$state.current.data.prevState)">
              <h1 class="md-headline centered" translate="{{main.$state.current.data.pageDescription}}"></h1>
            </div>

          </section>
        </section>
        <md-button  ng-hide="main.$state.current.data.fab == null" 
                    ng-click="main.fabClicked()"  
                    class="md-fab md-primary md-fab-bottom-right" >
          <!-- <md-icon>add</md-icon> -->
          <ng-md-icon ng-attr-style="options={'duration':375,'rotation':'clockwise'}" icon="{{main.$state.current.data.fab.icon?main.$state.current.data.fab.icon:'add'}}" style="fill: pink"></ng-md-icon>
        </md-button>
