<div>
    <h2 translate="gCompanyApp.reservation.home.title">Reservations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="reservation.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="gCompanyApp.reservation.home.createLabel">
                        Create new Reservation
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="locationId"><span translate="gCompanyApp.reservation.locationId">Location Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateFrom"><span translate="gCompanyApp.reservation.dateFrom">Date From</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dateTo"><span translate="gCompanyApp.reservation.dateTo">Date To</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userId"><span translate="gCompanyApp.reservation.userId">User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="price"><span translate="gCompanyApp.reservation.price">Price</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="currencyCode"><span translate="gCompanyApp.reservation.currencyCode">Currency Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPaid"><span translate="gCompanyApp.reservation.isPaid">Is Paid</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="resourceId"><span translate="gCompanyApp.reservation.resource">Resource</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="reservation in vm.reservations track by reservation.id">
                    <td><a ui-sref="reservation-detail({id:reservation.id})">{{reservation.id}}</a></td>
                    <td>{{reservation.locationId}}</td>
                    <td>{{reservation.dateFrom | date:'medium'}}</td>
                    <td>{{reservation.dateTo | date:'medium'}}</td>
                    <td>{{reservation.userId}}</td>
                    <td>{{reservation.price}}</td>
                    <td>{{reservation.currencyCode}}</td>
                    <td>{{reservation.isPaid}}</td>
                    <td>
                        <a ui-sref="resource-detail({id:reservation.resourceId})">{{reservation.resourceId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="reservation-detail({id:reservation.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="reservation.edit({id:reservation.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="reservation.delete({id:reservation.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
