<md-content layout="column">
<md-list>
  <md-list-item ><md-icon>directions_bike</md-icon><p>Wypożyczalnia rowerów</p><md-button ng-click="vm.showListBottomSheet()" class="md-secondary" >12-20 USD</md-button></md-list-item>
  <md-list-item ><md-icon>directions_bike</md-icon><p>Reperacja rowerów</p>    <md-button ng-click="vm.showListBottomSheet()" class="md-secondary" >12-20 USD</md-button></md-list-item>
  <md-list-item ><md-icon>directions_boat</md-icon><p>Wypożyczalnia kajaków</p><md-button ng-click="vm.showListBottomSheet()" class="md-secondary" >-</md-button></md-list-item>
  <md-list-item ><md-icon>home</md-icon><p>Rezerwacja Pokoi</p>                <md-button ng-click="vm.showListBottomSheet()" class="md-secondary" >-</md-button></md-list-item>

</md-list>
</md-content>
