<md-content layout="column">
<md-list>
  <md-list-item ><p>Wypożyczalnia rowerów</p><md-button class="md-secondary" ng-click="doSecondaryAction($event)">12-20 USD</md-button></md-list-item>
  <md-list-item ><p>Reperacja rowerów</p><md-button class="md-secondary" ng-click="doSecondaryAction($event)">12-20 USD</md-button></md-list-item>
  <md-list-item ><p>Wypożyczalnia kajaków</p><md-button class="md-secondary" ng-click="doSecondaryAction($event)">-</md-button></md-list-item>

</md-list>
</md-content>
