
<md-button ui-sref="location.point" class="md-raised md-secondary">Setup Location</md-button>
<br>
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation layout="column" layout-margin >

        <md-input-container  class="form-group">
            <label class="control-label" translate="gCompanyApp.location.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                    ng-model="vm.location.country"
                    ng-maxlength="30" />
            <div ng-show="editForm.country.$invalid">
                <p class="help-block"
                    ng-show="editForm.country.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </md-input-container>
        <md-input-container  class="form-group">
            <label class="control-label" translate="gCompanyApp.location.state" for="field_state">state</label>
            <input type="text" class="form-control" name="state" id="field_state"
                    ng-model="vm.location.state"
                    ng-maxlength="30" />
            <div ng-show="editForm.state.$invalid">
                <p class="help-block"
                    ng-show="editForm.state.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </md-input-container>
        <div layout="row">
          <md-input-container  flex class="form-group">
              <label class="control-label" translate="gCompanyApp.location.street" for="field_street">Street</label>
              <input type="text" class="form-control" name="street" id="field_street"
                      ng-model="vm.location.street"
                      ng-maxlength="30" />
              <div ng-show="editForm.street.$invalid">
                  <p class="help-block"
                      ng-show="editForm.street.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                      This field cannot be longer than 30 characters.
                  </p>
              </div>
          </md-input-container>
          <md-input-container flex  style="width:80px;" class="form-group">
              <label class="control-label" translate="gCompanyApp.location.streetNo" for="field_streetNo">Street No</label>
              <input type="text" class="form-control" name="streetNo" id="field_streetNo"
                      ng-model="vm.location.streetNo"
                      ng-maxlength="30" />
              <div ng-show="editForm.streetNo.$invalid">
                  <p class="help-block"
                      ng-show="editForm.streetNo.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                      This field cannot be longer than 30 characters.
                  </p>
              </div>
          </md-input-container>
        </div>

        <!-- <md-input-container class="form-group">
            <label class="control-label" translate="gCompanyApp.location.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.location.point[0]" required
                     />
                     <div ng-messages="editForm.latitude.$invalid">
                         <div class="help-block"
                             ng-message="required" translate="entity.validation.required">
                             This field is required.
                         </div>
                     </div>
        </md-input-container>
        <md-input-container class="form-group">
            <label class="control-label" translate="gCompanyApp.location.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.location.point[1]" required
                     />
                     <div ng-messages="editForm.longitude.$invalid">
                         <div class="help-block"
                             ng-message="required" translate="entity.validation.required">
                             This field is required.
                         </div>
                     </div>
        </md-input-container> -->

    <md-button type="submit" ng-hide="vm.delay || editForm.$invalid || vm.isSaving" class="md-fab md-primary md-fab-bottom-right">
            <md-icon>done</md-icon>
    </md-button>
</form>
