<div>
    <h2 translate="gCompanyApp.location.home.title">Locations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="location.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="gCompanyApp.location.home.createLabel">
                        Create new Location
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="street"><span translate="gCompanyApp.location.street">Street</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="streetNo"><span translate="gCompanyApp.location.streetNo">Street No</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="code"><span translate="gCompanyApp.location.code">Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="imageUrl"><span translate="gCompanyApp.location.imageUrl">Image Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="gCompanyApp.location.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="whyToVisit"><span translate="gCompanyApp.location.whyToVisit">Why To Visit</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="gCompanyApp.location.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="website"><span translate="gCompanyApp.location.website">Website</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="phoneNumber"><span translate="gCompanyApp.location.phoneNumber">Phone Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="gCompanyApp.location.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span translate="gCompanyApp.location.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="logo"><span translate="gCompanyApp.location.logo">Logo</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="latitude"><span translate="gCompanyApp.location.latitude">Latitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="longitude"><span translate="gCompanyApp.location.longitude">Longitude</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="bigImage"><span translate="gCompanyApp.location.bigImage">Big Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reviewCount"><span translate="gCompanyApp.location.reviewCount">Review Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reviewAvg"><span translate="gCompanyApp.location.reviewAvg">Review Avg</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="virtual"><span translate="gCompanyApp.location.virtual">Virtual</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyId"><span translate="gCompanyApp.location.companyId">Company Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="location in vm.locations track by location.id">
                    <td><a ui-sref="location-detail({id:location.id})">{{location.id}}</a></td>
                    <td>{{location.street}}</td>
                    <td>{{location.streetNo}}</td>
                    <td>{{location.code}}</td>
                    <td>{{location.imageUrl}}</td>
                    <td>{{location.name}}</td>
                    <td>{{location.whyToVisit}}</td>
                    <td>{{location.description}}</td>
                    <td>{{location.website}}</td>
                    <td>{{location.phoneNumber}}</td>
                    <td>{{location.email}}</td>
                    <td>
                        <a ng-if="location.image" ng-click="vm.openFile(location.imageContentType, location.image)">
                            <img data-ng-src="{{'data:' + location.imageContentType + ';base64,' + location.image}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="location.image">{{location.imageContentType}}, {{vm.byteSize(location.image)}}</span>
                    </td>
                    <td>
                        <a ng-if="location.logo" ng-click="vm.openFile(location.logoContentType, location.logo)">
                            <img data-ng-src="{{'data:' + location.logoContentType + ';base64,' + location.logo}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="location.logo">{{location.logoContentType}}, {{vm.byteSize(location.logo)}}</span>
                    </td>
                    <td>{{location.point[1]}}</td>
                    <td>{{location.point[0]}}</td>
                    <td>
                        <a ng-if="location.bigImage" ng-click="vm.openFile(location.bigImageContentType, location.bigImage)">
                            <img data-ng-src="{{'data:' + location.bigImageContentType + ';base64,' + location.bigImage}}" style="max-height: 30px;"/>
                        </a>
                        <span ng-if="location.bigImage">{{location.bigImageContentType}}, {{vm.byteSize(location.bigImage)}}</span>
                    </td>
                    <td>{{location.reviewCount}}</td>
                    <td>{{location.reviewAvg}}</td>
                    <td>{{location.virtual}}</td>
                    <td>{{location.companyId}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="location-detail({id:location.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location.edit({id:location.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="location.delete({id:location.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
