
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPlaceLabel" translate="gCompanyApp.place.home.createOrEditLabel">Create or edit a Place</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.place.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.place.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.place.longName" for="field_longName">Long Name</label>
            <input type="text" class="form-control" name="longName" id="field_longName"
                    ng-model="vm.place.longName"
                    required />
            <div ng-show="editForm.longName.$invalid">
                <p class="help-block"
                    ng-show="editForm.longName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.place.shortName" for="field_shortName">Short Name</label>
            <input type="text" class="form-control" name="shortName" id="field_shortName"
                    ng-model="vm.place.shortName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.place.country" for="field_country">Country</label>
            <input type="text" class="form-control" name="country" id="field_country"
                    ng-model="vm.place.country"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.place.areaLvl1" for="field_areaLvl1">Area Lvl 1</label>
            <input type="text" class="form-control" name="areaLvl1" id="field_areaLvl1"
                    ng-model="vm.place.areaLvl1"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.place.areaLvl2" for="field_areaLvl2">Area Lvl 2</label>
            <input type="text" class="form-control" name="areaLvl2" id="field_areaLvl2"
                    ng-model="vm.place.areaLvl2"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.place.areaLvl3" for="field_areaLvl3">Area Lvl 3</label>
            <input type="text" class="form-control" name="areaLvl3" id="field_areaLvl3"
                    ng-model="vm.place.areaLvl3"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.place.location" for="field_location">Location</label>
            <select class="form-control" name="location" ng-model="vm.place.location" id="field_location">
                <option value="country" translate="gCompanyApp.Type.country">country</option>
                <option value="lvl1" translate="gCompanyApp.Type.lvl1">lvl1</option>
                <option value="lvl2" translate="gCompanyApp.Type.lvl2">lvl2</option>
                <option value="lvl3" translate="gCompanyApp.Type.lvl3">lvl3</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.place.loc" for="field_loc">Loc</label>
            <input type="number" class="form-control" name="loc" id="field_loc"
                    ng-model="vm.place.loc"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
