
<form name="editForm" role="form" novalidate ng-submit="vm.save()" layout="column" >
<jhi-alert-error></jhi-alert-error>
<md-content layout="column" style="overflow-x:hidden">
        <div layout="column" class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.resource)" ngf-pattern="'image/*'">
            
            <div>
                <img class="responsive" data-ng-src="{{'data:' + vm.resource.imageContentType + ';base64,' + vm.resource.image}}" ng-if="vm.resource.image"/>
                <div ng-if="vm.resource.image" class="help-block clearfix" layout="row">
                    <span style="vertical-align:baseline;" >{{vm.resource.imageContentType}}, {{vm.byteSize(vm.resource.image)}}</span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="vm.resource.image=null;vm.resource.imageContentType=null;"
                            >
                        <md-icon>clear</md-icon>
                    </md-button>
                </div>

            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.resource.image"
                     />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.resource.imageContentType" />
            <md-button type="file" ngf-select class="md-raised md-primary"
                        ngf-change="vm.setImage($file, vm.resource)" accept="image/*" translate="entity.action.addimage">
                    Add image
            </md-button>
        </div>
        <md-input-container class="form-group">
            <label class="control-label" translate="gCompanyApp.resource.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.resource.name"
                     />
        </md-input-container>
        <md-input-container class="form-group">
            <label class="control-label" translate="gCompanyApp.resource.serviceDetailId" for="field_serviceDetailId">Service Detail Id</label>
            <input type="text" class="form-control" name="serviceDetailId" id="field_serviceDetailId"
                    ng-model="vm.resource.serviceDetailId"
                     />
        </md-input-container>

        <div layout="row">
            <md-input-container class="form-group">
                <label class="control-label" translate="gCompanyApp.resource.pricePerHour" for="field_pricePerHour">Price Per Hour</label>
                <input type="number" class="form-control" name="pricePerHour" id="field_pricePerHour"
                        ng-model="vm.resource.pricePerHour"
                        />
            </md-input-container>
            <md-input-container class="form-group">
                <label class="control-label" translate="gCompanyApp.resource.pricePerDay" for="field_pricePerDay">Price Per Day</label>
                <input type="number" class="form-control" name="pricePerDay" id="field_pricePerDay"
                        ng-model="vm.resource.pricePerDay"
                        />
            </md-input-container>
            <md-input-container class="form-group">
                <label class="control-label" translate="gCompanyApp.resource.pricePerWeek" for="field_pricePerWeek">Price Per Week</label>
                <input type="number" class="form-control" name="pricePerWeek" id="field_pricePerWeek"
                        ng-model="vm.resource.pricePerWeek"
                        />
            </md-input-container>
        </div>
        <md-input-container class="form-group">
            <label class="control-label" translate="gCompanyApp.resource.currencyCode" for="field_currencyCode">Currency Code</label>
            <input type="text" class="form-control" name="currencyCode" id="field_currencyCode"
                    ng-model="vm.resource.currencyCode"
                     />
        </md-input-container>

        <md-input-container class="form-group">
            <label class="control-label" translate="gCompanyApp.resource.generalFeatures" for="field_generalFeatures">General Features</label>
            <input type="text" class="form-control" name="generalFeatures" id="field_generalFeatures"
                    ng-model="vm.resource.generalFeatures"
                     />
        </md-input-container>
</md-content>
        <md-button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="md-fab md-primary md-fab-bottom-right">
            <!--<span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>-->
            <md-icon>done</md-icon>
        </md-button>
</form>
