
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubTypeLabel" translate="gCompanyApp.subType.home.createOrEditLabel">Create or edit a Sub Type</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subType.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subType.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.subType.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.subType.name"
                    ng-maxlength="30" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.subType.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.subType.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.subType.iconUri" for="field_iconUri">Icon Uri</label>
            <input type="text" class="form-control" name="iconUri" id="field_iconUri"
                    ng-model="vm.subType.iconUri"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.subType.imageUri" for="field_imageUri">Image Uri</label>
            <input type="text" class="form-control" name="imageUri" id="field_imageUri"
                    ng-model="vm.subType.imageUri"
                     />
        </div>

        <div class="form-group">
            <label translate="gCompanyApp.subType.type" for="field_type">Type</label>
            <select class="form-control" id="field_type" name="type" ng-model="vm.subType.type" ng-options="type as type.name for type in vm.types track by type.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
