
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCountryLabel" translate="gCompanyApp.country.home.createOrEditLabel">Create or edit a Country</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.country.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.country.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.country.countryCode" for="field_countryCode">Country Code</label>
            <input type="text" class="form-control" name="countryCode" id="field_countryCode"
                    ng-model="vm.country.countryCode"
                    required ng-maxlength="5" />
            <div ng-show="editForm.countryCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.countryCode.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.countryCode.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="5">
                    This field cannot be longer than 5 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.country.countryName" for="field_countryName">Country Name</label>
            <input type="text" class="form-control" name="countryName" id="field_countryName"
                    ng-model="vm.country.countryName"
                    required ng-maxlength="30" />
            <div ng-show="editForm.countryName.$invalid">
                <p class="help-block"
                    ng-show="editForm.countryName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.countryName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="30">
                    This field cannot be longer than 30 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.country.isoCode" for="field_isoCode">Iso Code</label>
            <input type="text" class="form-control" name="isoCode" id="field_isoCode"
                    ng-model="vm.country.isoCode"
                    required ng-maxlength="5" />
            <div ng-show="editForm.isoCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.isoCode.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.isoCode.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="5">
                    This field cannot be longer than 5 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="gCompanyApp.country.currencyCode" for="field_currencyCode">Currency Code</label>
            <input type="text" class="form-control" name="currencyCode" id="field_currencyCode"
                    ng-model="vm.country.currencyCode"
                    ng-maxlength="4" />
            <div ng-show="editForm.currencyCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.currencyCode.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4">
                    This field cannot be longer than 4 characters.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
