<md-content layout="column">
<section>
  <md-list>
    <md-list-item ui-sref="location"><p>Giant Glory M</p>    <md-button ng-click="showListBottomSheet()" class="md-secondary" ><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
    <md-list-item ><p>Giant Reign 1.5 LTD M</p><md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
    <md-list-item ><p>Giant Reign 1.5 LTD S</p><md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
    <md-list-item ><p>Liv Intrigue S</p><md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
    <md-list-item ><p>Giant Trance 2 LTD S</p><md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
    <md-list-item ><p>Giant Trance 2 LTD M</p><md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
  </md-list>
</section>
</md-content>



<!-- <md-content layout="column">

  <section ng-repeat="category in vm.categories track by category.id">
    <md-subheader class="md-warn">{{category.name}}</md-subheader>
    <md-list>
      <md-list-item ng-repeat="resource in vm.resources  track by resource.id"><p>{{resource.name}}</p><md-button ui-sref="resource-detail({id:resource.id})" class="md-secondary" ><span>{{resource.pricePerHour}}</span> <span>{{resource.pricePerDay}}</span> <span>{{resource.pricePerWeek}}</span><span>{{resource.currencyCode}}</span></md-button></md-list-item>
    </md-list>
  </section>
</md-content> -->
