<md-content layout="column">

  <section ng-repeat="category in vm.categories track by category.id">
    <md-subheader class="md-warn">{{category.name}}</md-subheader>
    <md-list>
      <md-list-item ng-repeat="resource in vm.resources  track by resource.id"><p>{{resource.name}}</p><md-button ui-sref="resource-detail({id:resource.id})" class="md-secondary" ><span>{{resource.pricePerHour}}</span> <span>{{resource.pricePerDay}}</span> <span>{{resource.pricePerWeek}}</span><span>{{resource.currencyCode}}</span></md-button></md-list-item>
    </md-list>
  </section>
</md-content>
