<md-content layout="column">

<section>
<md-subheader class="md-warn">Wypożyczalnia rowerów</md-subheader>
<md-list>
  <md-list-item ><p>Fatbike Monumentum M</p><md-button ng-click="vm.hello()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
  <md-list-item ><p>Giant Glory M</p>    <md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
  <md-list-item ><p>Giant Reign 1.5 LTD M</p><md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
  <md-list-item ><p>Giant Reign 1.5 LTD S</p><md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
  <md-list-item ><p>Liv Intrigue S</p><md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
  <md-list-item ><p>Giant Trance 2 LTD S</p><md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
  <md-list-item ><p>Giant Trance 2 LTD M</p><md-button ng-click="showListBottomSheet()" class="md-secondary" ng-click="doSecondaryAction($event)"><span>80</span> <span>160</span> <span>300 USD</span></md-button></md-list-item>
</md-list>
</section>
</md-content>
